@media screen and (max-width: 799px) {
	body {
		font-size:1.5em;
	}
	.grid-column,
	.grid-column:first-child {
		float: none;
		width: 100%;
		margin: 0;
	}
	.tabby label {
		display: block;
		float: none;
		width: 100%;
		padding-right: 0;
		padding-left: 0;
		text-align: left;
		margin: 0;
	}
	.tabby ul {
		margin-right: 0;
		margin-left: 0;
	}
}
/*@media screen and (max-width:400px) {
	body {
		font-size:0.7em;
	}
}*/
